li:hover {
    background-color: lightblue;
}

li {
    display: inline;
    font-size: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: lightgray;
    margin-left: 3px;
    margin-right: 3px;
    border-width: 30px;
    padding-left: 10px;
    padding-right: 10px;
    border-bottom: 2px solid black;



}