#email {
    background-color: aquamarine;
}

.first-para {
    font-size: 1em;
    color: darkblue;
    font-weight: bold;
    font-family: monospace;
}

h1 {
    text-decoration: underline;
    color: blue;
    text-decoration:dotted;

}
td {
    color: darkred;
    font-size: 24px;
}

button{
    background-color: bisque;
    border-radius: 10px;

}
input {
    border: none;
    border-bottom: black 1px solid;
}
label {
    text-decoration: underline;
}